{{> navbar}}

<div class="container">
  <div class="row">
    <h1 style="text-align: center">Add New Recipes</h1>
    <div style="width:30%; margin: 20px auto;">
      <form action="/recipes" method="POST">
        <div class="form-group">
          <input class="form-control" type="text" name="name" placeholder="name">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="imageurl" placeholder="image url">
        </div>
        <div class="form-group">
          <input class="form-control" type="text" name="url" placeholder="description">
        </div>
        <div class="form-group">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </div>
      </form>
      <a href="/recipes">Go Back</a>
    </div>
  </div>
</div>

{{> footer}}

